<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result of content ) { %>
        <tr>
          <h1>2019年のレース結果</h1>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
