<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result,race,people of content ) { %>
        <tr>
            <td><%= race.id %></td>
            //<td><%= result['都道府県'] %></td>
            //<td><%= result['人口'] %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
