<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>レース結果</h1>
        <ul>
            <li><a href = "https://tettus23m-1.paiza-user.cloud/result2019">2019</a></li>
            <li><a href = "https://tettus23m-1.paiza-user.cloud/result2018">2018</a></li>
            <li><a href = "https://tettus23m-1.paiza-user.cloud/result2017">2017</a></li>
            <li><a href = "https://tettus23m-1.paiza-user.cloud/result2016">2016</a></li>
            <li><a href = "https://tettus23m-1.paiza-user.cloud/result2015">2015</a></li>
        </ul>
        <h2><a href = "https://tettus23m-1.paiza-user.cloud/ranking">選手ランキング上位10名一覧</a></h2>
    </table>
 
</body>
</html>
