<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>レース結果</h1>
        <a href = "https://tettus23m-1.paiza-user.cloud/result2019>2019</a>
    </table>
 
</body>
</html>
