<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <% for( let result,race,people of content ) { %>
        <tr>
            <td><%= race['racename'] %></td>
            <td><%= people['peoplename'] %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
