<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>2018レース結果
        <% for( let result of content ) { %>
        <tr>
            <td><%= result['racename'] %></td>
            <td><%= result['peoplename'] %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
