<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>選手ランキング上位10名</h1>
        <% for( let result of content ) { %>
        <tr>
            <td><ul><li><%= result['peoplename'] %></li></ul></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
