<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>選手ランキング上位10名</h1>
        <% for( let result of content ) { %>
        <tr>
        <ol>
            <li><td><%= result['peoplename'] %></td></li>
        </ol>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
