<!DOCTYPE html>
<html lang=ja>
<head>
<meta charset="UTF-8">
</head>
<body>
    <table>
        <h1>選手ランキング上位10名</h1>
        <% for( let result, count of content ) { %>
        <tr>
            <td><%= result['peoplename'] %></td>
            \\<td><%= result.count(people_id1) %></td>
        </tr>
        <% } %>
    </table>
 
</body>
</html>
